prm-icon.peer-reviewed-mark-icon {
  color: rgba(58,58,58,.8) !important;
}

prm-search-result-availability-line [availability-type] {
  color: rgba(58,58,58,.8);
}

div.course-info-mark {
  display: none;
}