/* fix my account links */
prm-account-links a {
  margin-left: 1em;
}
prm-account-links md-icon {
  height: 15px;
  min-height: 15px;
  width: 15px;
  min-width: 15px;
  margin-left: .2em;
}

/* hide group and expire date */
prm-personal-info div.header-subtitle {
  display: none;
}

/* hide letter options */
prm-account-overview div[ng-if="$ctrl.showActionSection()"] {
  display: none;
}
prm-account-overview md-divder[ng-if="$ctrl.showActionSection()"] {
  display: none;
}

/* hide language option */
prm-personal-info md-card:not(#personalDetails) {display:none;}