/* fix my account links */
prm-account-links a {
  margin-left: 1em;
}
prm-account-links md-icon {
  height: 15px;
  min-height: 15px;
  width: 15px;
  min-width: 15px;
  margin-left: .2em;
}

/* hide user group */
span[translate='nui.details.patronstatus.group'] {
  display: none;
}

/* hide letter options */
prm-account-overview div[ng-if="$ctrl.showActionSection()"] {
  display: none;
}
prm-account-overview md-divder[ng-if="$ctrl.showActionSection()"] {
  display: none;
}
