/* collapse the spacing above the "haven't found card */
prm-search-result-list .list-spacer {
  min-height: initial;
}

prm-search-result-list-after md-card {
  margin: 10px 0 100px 0;
}

/* truncate long author lists in brief results */
prm-search-result-list prm-brief-result h3.item-title + div.item-detail > span:first-child {
  max-width: 30em;
  white-space: nowrap;
  display: inline-flex;
}
prm-search-result-list prm-brief-result h3.item-title + div.item-detail > span:first-child span:not(.media-delimiter) {
  overflow: hidden;
  text-overflow: ellipsis;
}