/* collapse the spacing above the "haven't found card */
prm-search-result-list .list-spacer {
  min-height: initial;
}

prm-search-result-list-after md-card {
  margin: 10px 0 100px 0;
}

/* chat dialog */
md-dialog.qpoint-chat {
  overflow: hidden;
}
md-dialog-content.qpoint-chat {
  width: 340px;
  height: 300px;
  margin-right: -16px;
}
md-dialog-content.qpoint-chat iframe {
  border: none;
}