@import "variables";

prm-facet-exact, prm-facet-range {
  & > div {
    background-color: #fff;
  }

  div.section-content {
    padding-top: .5em;
    padding-bottom: .5em;

    button.button-exclude::before {
      background-color: transparent !important;
    }
  }

  & > button.section-title {
    background-color: #dbdbdb;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 1px;

    & > div {
      justify-content: space-between;
    }
  }

  div.md-chips , div.expand-section-button {
    padding-left: 1em;
  }
}

/* results personalization */
.prm-personalization, 
prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-label, 
prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-label, 
prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-label, 
prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-label, 
.sidebar .personalization-section .section-title-header,
.sidebar .personalization-section .sidebar-list,
.sidebar .personalization-section md-checkbox {
  color: $maroon; }
.prm-personalization-bg, 
prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-bar, 
prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-bar, 
prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-bar, 
prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-bar, 
prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-thumb, 
prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-thumb, 
prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-thumb, 
prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-thumb, 
.sidebar .personalization-section md-checkbox.md-checked .md-icon, 
.sidebar .personalization-section .sidebar-list li:before, 
.sidebar .personalization-section ul li:before {
  background-color: #5C92BD; 
}
prm-search-result-list prm-personalize-results-button .md-button.toggled.button-as-link:hover:not([disabled]):hover:not([disabled]) {
  background-color: hsla(0,0%,43%,.1);
}

.section-content .md-chips .md-chip .md-chip-content {
  color: #3a3a3a;
}