@import "partials/variables";

$darkBlue: #404d5b;

.list-item-wrapper {
  background-color: #fff;
}

prm-user-area .user-menu-button .user-name, prm-user-area-expandable .user-button span {
  color: #ffd75f;
  font-weight: bold;
}

.prm-alert-bg, .bar.alert-bar, .classic-input .search-scope {
  background-color: #ffd75f;
  button {
    color: #7a0019;
    //color: inherit;

    &:hover:not([disabled]) {
      color: inherit;
    }

    &:focused:not([disabled]) {
      color: inherit;
    }
  }
}

.prm-notice, .status-maybe, [class*="NFT"], [class*="check_"],
[class*="_more"], [class*="_unknown"], [class*="may_"],
[class*="does_not_exist"], .worldcat, .getit, prm-search-result-frbr-line a >
prm-icon:first-child, prm-search-result-frbr-line
.md-button.arrow-link-button .button-content > prm-icon:first-child,
.md-button.arrow-link-button prm-search-result-frbr-line .button-content >
prm-icon:first-child {
  color: #7a0019;
}

div._md-list-item-inner {
  background-color: #fff;
}

prm-facet-exact, prm-facet-range {
  & > div {
    background-color: #fff;
  }

  div.section-content {
    padding-top: .5em;
    padding-bottom: .5em;

    button.button-exclude::before {
      background-color: transparent !important;
    }
  }

  & > button.section-title {
    background-color: #dbdbdb;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 1px;

    & > div {
      justify-content: space-between;
    }
  }

  div.md-chips , div.expand-section-button {
    padding-left: 1em;
  }
}
