@import "variables";
@import "color-theme";
@import "components";

.results-container .list-item-wrapper {
  background-color: #fff;
}

prm-user-area .user-menu-button .user-name, 
prm-user-area-expandable .user-button span {
  color: $gold;
  font-weight: bold;
}

div._md-list-item-inner {
  background-color: #fff;
}
