.full-view-inner-container{
  display: flex;
  flex-direction: column;
}
#getit_link1_0 {order: 1;}
#getit_link1_1 {order: 2;}
#getit_link2 {order: 3;}
#action_list {order: 4;}
#citationTrails {order: 5;}
#details {order: 6;}
#virtualBrowse {order: 7;}
#links {order: 8;}

.services-index-under { display: none; }
.full-view-section-content { padding-left: 0 !important; }

prm-alma-mashup iframe {
  background-image: url("../img/diamonds.gif");
  background-repeat: no-repeat;
  background-position: center;
}

prm-alma-more-inst {display: none;}
div.full-view-section#tags {display: none;}

.Almaviewit prm-login-alma-mashup {
  display: none!important;
}

.Almagetit prm-login-alma-mashup .ng-hide {
  display: block!important;
  text-align: center;
  line-height: 40px;
}