prm-search-bar {
  button {
    &.switch-to-advanced,
    &.switch-to-simple {
      //border: solid 1px;
      font-weight: 600;
    }
  }
}

.classic-input .search-scope.journal-search-tile {
  padding: 0 0.5em;
}

prm-advanced-search .collapsed-area {
  display: none;
}

// hide the "online" scope option
md-option[ng-repeat="scope in $ctrl.scopesOptions"][value="online"] {
  display: none;
}
