// pin animation colors
.pinDummy prm-icon {
  color: #809fa6;
}
.pinDummy:before {
  background-color: $dark-gold;
}
prm-search-bookmark-filter #favorites-button:before {
  background-color: $dark-gold;
}

// hide "tags"
button[aria-label='Tags'] {
  display: none;
}

prm-logo {
  #banner {
    a:hover {
      box-shadow: none;
      background-color: transparent;
    }
  }
}

prm-user-area-expandable {
  span {
    font-weight: bold;
  }
}

prm-main-menu {
  .item-content {
    font-weight: bold;
  }
}

prm-search-bookmark-filter a {
  md-icon {
    transform: rotate(0) !important; //don't rotate the overridden "pin" icon
  }
  &:hover,
  &:focus {
    box-shadow: none; //the shadow looks goofy with our header color
  }
}
.prm-user-menu-content prm-icon.rotate-25 md-icon {
  transform: rotate(0) !important;
}
